@font-face {
	font-family: 'Arsenal-Regular';
	src: url('../fonts/Arsenal-Regular/Arsenal-Regular.eot');
	src: local('☺'), url('../fonts/Arsenal-Regular/Arsenal-Regular.woff') format('woff'), url('../fonts/Arsenal-Regular/Arsenal-Regular.ttf') format('truetype'), url('../fonts/Arsenal-Regular/Arsenal-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arsenal-Bold';
	src: url('fonts/Arsenal-Bold/Arsenal-Bold.eot');
	src: local('☺'), url('../fonts/Arsenal-Bold/Arsenal-Bold.woff') format('woff'), url('../fonts/Arsenal-Bold/Arsenal-Bold.ttf') format('truetype'), url('../fonts/Arsenal-Bold/Arsenal-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
    /*width: 1170px;*/
    font-family: Arial, Helvetica, sans-serif;
}

/*************************header**************************/
header {
    outline: 2px solid red;
    width: 880px;
    margin: 0 auto;
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 17px 0;
    outline: 2px solid blue;
}
.header-logo {
	display: inline-block;
}
.header-logo h1:nth-child(1)  {
    color: #b6c600;
    font-size: 32px;
}

.header-logo h1:nth-child(2) {
	color:#507532;
	font-size:22px;
}
.header-contacts {
	text-align: right;
}
.header-contacts-number {
	color:black;
	font-size: 18px;
	margin-right:30px;
	display: inline-block;
}
.header-contacts-button {
	color:#507532;
	font-size:17px;
	display: inline-block;	
	cursor: pointer;
}

/*************************slider**************************/
.slider {
	width: 100%;
	margin-bottom: 40px;

}
.slides {
	background-size:100% 100%; 
	text-align: center;
	height: 426px;
	
}
.slide1 {
	background-image: url("../images/banner-img1.jpg");
}
.slide-content {
	margin-top: 70px;
	outline: 2px solid red;
}
.slide-content h2{
	font-family: "Arsenal-Bold";
	font-size: 45px;
	font-weight:bolder; 
	color:#44453e;
}
.slide-content p:nth-child(2) {
	font-family: "Arsenal-Regular";
	margin: 25px 0; 
	font-size: 30px;
	color:#44453e;
}
.slide-content-button {
	display: inline-block;
	width: 195px;
	padding: 12px 0;
	margin-bottom: 25px;
	background-color: #b6c600;
	color:white;
	font-size: 17px;
	border-radius: 4px;
	cursor:pointer;
}
.slide-content p:nth-child(4) {
	font-family: "Arsenal-Regular";
	font-size: 20px;
	color:#44453e;
	margin: 0;
}
.slide2 {
	background-image: url("../images/banner-img2.jpg");
}
.slide2 .slide-content p {
	margin: 60px 0;
}
.slide3 {
	background-image: url("../images/banner-img3.jpg");
}
.slide4 {
	background-image: url("../images/banner-img4.jpg");
}
.slide4 .slide-content h2 {
	font-family: "Arsenal-Regular";
	font-size: 35px;
	margin-bottom: 75px;
}
.slide4 .slide-content p {
	font-family: "Arsenal-Regular";
	font-size: 35px;
	color: #44453e;
}
.slide4 .slide-content p:nth-child(2) {
	position: relative;
    right: 70px;
}
.slide4 .slide-content p:nth-child(3) {
	margin-top: 30px;
	position: relative;
    left: 90px;
}
 




/*************************services**************************/
.services {
	width: 880px;
    margin: 0 auto;
	outline: 2px solid blue;
}
.services h2 {
	font-family: "Arsenal-Bold";
	margin-bottom: 70px;
	text-align: center;
	font-size: 30px;
	color:#44453e;
	font-weight: bolder;
}
.services-item {
	outline:2px solid red;
	display: inline-block;
	background-color: rgba(209, 211, 184, 0.3);
	width: 230px;
  	height: 436px;
	text-align: center;  
	padding: 20px 20px 0 20px; 
	color: #44453e;
	margin-right: 30px;
}
.services-item:last-child {
	margin-right: 0;
}
.services-item h3 {
	margin: 25px 0;
	font-size: 25px;
}
.services-item p {
	text-align: justify;
	font-size: 15px;
}
.services-item-img2 {
	margin-bottom: 26px;
}

/*************************statictics**************************/
.statistics {
	background-image: url("../images/banner-img2.jpg");
	background-attachment:scroll; 
	height: 200px;
	text-align: center;
	width:880px;
	outline:2px solid red;
	margin: 0 auto;
	padding: 0 30px;
}
/*************************shares**************************/
.shares {
	text-align: center;
    margin: 0 auto;
	padding-top:25px; 
	background-image: url("../images/shares-fon.jpg");
	background-repeat:no-repeat; 
	width:880px;
	height: 975px;
}
.shares h2 {
	font-family: "Arsenal-Bold";
	font-size: 30px;
	font-weight: bolder;
	color:#44453e;
}
.shares p {
	margin: 25px 0;
	color:#44453e;
	font-family: "Arsenal-Regular";
	font-size: 14px;
}
.shares a {
	color:#507532;
	text-decoration: none;
}
.shares-item {
	outline:2px solid black;
	text-align: center;
	margin-bottom: 20px;
}
.shares-item-info {
	position: relative;
	top:-20px;
	text-align: left;
	color:#44453e;
	display: inline-block;
	outline:2px solid red;
}
.shares-item-info-name {
	font-size: 20px;
	font-weight: bold;
}
.shares-item-info-text {
	margin-top: 20px;
	font-size: 15px;	
}
.shares-item-info-text p {
	margin: 0;
}